.barchart svg {
    background-color: #f5f3f2;
}

.barchart .tick line {
    stroke: #c0c0bb;
}

.barchart .tick text {
    fill: #8e8883;
}

.barchart .domain text {
    fill: #635f5d;
}

.barchart .axis-label {
    font-size: 1.25em;
    font-weight: 600;
    fill: #635f5d;
}

.barchart .color-legend text {
    fill: #635f5d;
    cursor: default;
}

.barchart .slider-container {
    position: absolute;
    top: 340px;
    right: 60px;
    transform: translate(0, -50%);
}

.barchart .slider-container p {
    font-size: 1.25em;
    font-weight: 600;
    color: #635f5d;
}

.barchart .slider-container label {
    font-size: 0.8em;
    font-weight: 600;
    color: #635f5d;
}

.barchart .slider {
    width: 200px;
}

.barchart .dataSummary-container text {
    fill: #635f5d;
}

.barchart .dataSummary-year {
    font-size: 1.8em;
    font-weight: 600;
}

.barchart .dataSummary-rates {
    font-size: 1em;
}

.barchart #min-rate {
    fill: #bd2d28;
}

.barchart #max-rate {
    fill: #156b90;
}

.barchart #avg-rate {
    fill: #708259;
}

.barchart .Dropdown-root {
    width: 290px;
    font-size: 0.8em;
}

.barchart .dropdown-container {
    position: absolute;
    top: 485px;
    right: 40px;
    transform: translate(0, -50%);
}

.barchart .dropdown-container label {
    color: #635f5d;
}
